.view-list {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 80vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
  background: none;
}

.view-list .left {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: none;
}

.view-list .left .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.view-list .left .heading h3 {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: SoccerLeagueItalic;
  color: rgba(0, 14, 90, 0.9);
}

.view-list .left .heading h3:nth-child(1) {
  font-size: 2rem;
  line-height: 20px;
  color: rgba(0, 14, 90, 0.5);
}

.view-list .left .list-set {
  background: lavenderblush;
  border-radius: 0 0 15px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 3px solid #8D03E4;
}

.view-list .left .list-set h6 {
  font-size: 1.2rem;
  color: #000E5A;
  font-family: Poppins;
}

.view-list .left .list-set h6:nth-child(2) {
  margin-left: 10px;
  font-family: Poppins-Bold;
}

.view-list .left .budget-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 14, 90, 0.2);
  padding: 2px 10px;
  width: 100%;
  border: none;
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-list .left .budget-info:hover {
  background: lavenderblush;
  color: #000E5A;
}

.view-list .left .budget-info h5 {
  margin: 0;
}

.view-list .left .budget-info h5:nth-child(1) {
  padding-right: 10px;
}

.view-list .left .budget-info h5:nth-child(2) {
  color: white;
  border-left: 1px solid white;
  padding-left: 10px;
}

.view-list .left .total-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 14, 90, 0.2);
  padding: 2px 10px;
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-list .left .total-info h5 {
  margin: 0;
}

.view-list .left .total-info h5:nth-child(1) {
  padding-right: 10px;
}

.view-list .left .total-info h5:nth-child(2) {
  border-left: 1px solid white;
  padding-left: 10px;
}

.view-list .left .budget-balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(45deg, lavenderblush, rgba(141, 3, 228, 0.7), rgba(0, 14, 90, 0.5));
  padding: 10px;
  color: white;
  border-radius: 3px;
}

.view-list .left .budget-balance h5:nth-child(1) {
  padding-right: 10px;
}

.view-list .left .budget-balance h5:nth-child(2) {
  border-left: 1px solid white;
  padding-left: 10px;
}

.view-list .left .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-list .left .actions button {
  outline: none;
  border: none;
  background: linear-gradient(-45deg, lavender, lavenderblush);
  color: #000E5A;
  border-radius: 3px;
  padding: 5px 35px;
  margin-top: 10px;
  font-family: Poppins-Light;
  font-size: 1.1rem;
}

.view-list .left .set {
  background: none;
  color: #8D03E4;
  font-family: Poppins-Bold;
}

.view-list .left h4 {
  margin-top: 20px;
  font-weight: 200;
  font-size: 1.3rem;
}

.view-list .right {
  width: 800px;
}

.view-list .right .make-list-outline {
  position: relative;
  padding: 10px;
  border-radius: 10px;
}

.view-list .right .make-list-outline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #000E5A, #0026F7, #8D03E4, #D30176);
  border-radius: inherit;
  opacity: .2;
}

.view-list .right .make-list-outline .existing-list-heading {
  position: relative;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  padding: 20px;
  width: 103%;
  max-height: 600px;
  -webkit-box-shadow: 2px 2px 9px lightblue;
          box-shadow: 2px 2px 9px lightblue;
  border-radius: 10px;
}

.view-list .right .make-list-outline .existing-list-heading .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view-list .right .make-list-outline .existing-list-heading .heading h3 {
  color: #000E5A;
}

.view-list .right .make-list-outline .existing-list-heading .heading h3:nth-child(1) {
  font-family: Poppins-Bold;
}

.view-list .right .make-list-outline .existing-list-heading .heading h3:nth-child(2) {
  color: rgba(141, 3, 228, 0.5);
  font-family: Poppins;
  margin-left: 5px;
}

.view-list .right .make-list-outline .existing-list {
  position: relative;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 90%;
  background: none;
}

.view-list .right .make-list-outline .existing-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 5px 20px;
  margin-bottom: 5px;
}

.view-list .right .make-list-outline .existing-list .list-item h4 {
  color: #000E5A;
  background: none;
  margin: 0;
  font-size: 1.1rem;
  font-family: Poppins-Light;
}

.view-list .right .make-list-outline .existing-list .list-item h4:nth-child(2) {
  margin-left: 30px;
}

.view-list .right .make-list-outline .existing-list .list-empty {
  text-align: center;
  color: lavenderblush;
  font-family: Poppins;
}

.view-list .right .make-list-outline .existing-list .list-empty img {
  width: 20%;
  mix-blend-mode: overlay;
  margin-top: 15px;
}

.view-list .right .make-list-outline .totals {
  margin-top: 15px;
  text-align: right;
}

.view-list .right .make-list-outline .totals h3 {
  display: inline-block;
  background: none;
  margin-right: 15px;
}

.view-list .right .make-list-outline .make-list {
  position: relative;
}

.view-list .right .make-list-outline .make-list .budget-container {
  background: white;
  padding: 20px;
  width: 100%;
  max-height: 600px;
  -webkit-box-shadow: 2px 2px 9px lightblue;
          box-shadow: 2px 2px 9px lightblue;
  border-radius: 10px;
}

.view-list .right .make-list-outline .make-list .budget-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.view-list .right .make-list-outline .make-list .budget-container .logo h1 {
  font-family: Poppins-Bold;
  letter-spacing: 0px;
}

.view-list .right .make-list-outline .make-list .budget-container h1 {
  display: block;
  color: #8400ff;
  font-size: 2rem;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 5px;
  text-align: center;
}

.view-list .right .make-list-outline .make-list .budget-container form input {
  border: none;
  background: whitesmoke;
}

.view-list .right .make-list-outline .make-list .budget-container form input:nth-child(1) {
  width: 300px;
  margin-right: 10px;
}

.view-list .right .make-list-outline .make-list .budget-container form input:nth-child(2) {
  width: 50px;
  margin-right: 10px;
}

.view-list .right .make-list-outline .make-list .budget-container form span {
  margin-right: 10px;
}

.view-list .right .make-list-outline .make-list .budget-container form button {
  background: #000E5A;
  border: none;
  color: whitesmoke;
  font-family: Poppins;
  font-size: 1.1rem;
  padding: 3px 12px;
  border-radius: 5px;
  -webkit-transition: all  .2s ease-in-out;
  transition: all  .2s ease-in-out;
}

.view-list .right .make-list-outline .make-list .budget-container form button:hover {
  background: #0027a7;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul {
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 300px;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item {
  height: 100%;
  margin: 10px 0;
  list-style-type: none;
  border-left: 1px solid #8400ff;
  border-bottom: 1px solid rgba(0, 14, 90, 0.1);
  background: rgba(0, 14, 90, 0.02);
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item div {
  background: none;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item div h5 {
  height: 100%;
  font-family: Poppins;
  font-size: 1rem;
  display: inline-block;
  background: none;
  padding: 0 20px;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item div h5:nth-child(1) {
  margin: 0;
  color: lightgray;
  padding: 0 10px;
  font-size: .9rem;
  font-family: Poppins-Light;
  height: 100%;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item div h5:nth-child(2) {
  height: 100%;
  margin: 0 0px;
  font-family: Poppins-Light;
  border-left: 1px solid lightblue;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item div span {
  color: rgba(0, 14, 90, 0.3);
  margin-right: 5px;
  font-family: Poppins-Light;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item .list-item-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: none;
  height: 100%;
  width: 200px;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item .list-item-actions li {
  list-style-type: none;
  border-left: 1px solid lightblue;
  height: 100%;
  padding: 0 20px;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item .list-item-actions li:nth-child(1) {
  height: 100%;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item .list-item-actions li:nth-child(1) h5 {
  display: inline;
  font-size: .8rem;
  font-family: Poppins;
  color: #000E5A;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item .list-item-actions li:nth-child(2) {
  height: 100%;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item .list-item-actions li:nth-child(2) .icon-edit {
  display: inline;
  font-size: .9rem;
  color: orange;
  cursor: pointer;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item .list-item-actions li:nth-child(3) {
  height: 100%;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item .list-item-actions li:nth-child(3) .icon-delete {
  display: inline;
  font-size: .9rem;
  color: orange;
  cursor: pointer;
}

.view-list .right .make-list-outline .make-list .budget-container .my-list ul .list-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: rgba(141, 3, 228, 0.1);
}

.view-list .right .make-list-outline .make-list .budget-container .money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: none;
}

.view-list .right .make-list-outline .make-list .budget-container .money span {
  color: #000E5A;
  font-size: 1.1rem;
  font-family: Poppins;
}

.view-list .right .make-list-outline .make-list .budget-container .money div {
  width: 35%;
  margin-top: 10px;
  padding: 10px;
}

.view-list .right .make-list-outline .make-list .budget-container .money .balance {
  position: relative;
  background: none;
  padding: 10px;
  border-radius: 5px;
}

.view-list .right .make-list-outline .make-list .budget-container .money .balance:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#000E5A), color-stop(#0026F7), color-stop(#8D03E4), to(#D30176));
  background: linear-gradient(to left, #000E5A, #0026F7, #8D03E4, #D30176);
  border-radius: inherit;
  opacity: .1;
}

.view-list .right .make-list-outline .make-list .clear-list .btn-clear {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 0 15px;
  width: 100% !important;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: darkslategrey;
  font-size: 1.2rem;
  font-family: Godzilla;
  margin-top: 15px;
  border-radius: none;
}

.view-list .right .make-list-outline .make-list .clear-list .btn-clear:hover {
  color: #000E5A;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.view-list .right .make-list-outline .make-list .clear-list .btn-save {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 0 15px;
  width: 100% !important;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: darkslategrey;
  font-size: 1.2rem;
  font-family: Godzilla;
  margin-top: 15px;
  border-radius: none;
}

.view-list .right .make-list-outline .make-list .clear-list .btn-save:hover {
  color: #000E5A;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.view-list .right .make-list-outline .make-list .clear-list h6 {
  color: #000E5A;
  border-bottom: 0.002px solid rgba(47, 79, 79, 0.4);
  padding-bottom: 8px;
  font-size: 1.2rem;
  margin-top: 15px;
}
/*# sourceMappingURL=viewlist.css.map */